In [1]:
2+1

3

In [10]:
i = 2
if i > 2:
    print('yes it is')
else :
    print('no it is not')

no it is not

I'm getting ahead of the course here but I just tried to write a simple if/then statement. It seems that python requires a colon ":" after if/else statements. These statements do not need to be closed with an end statement. Let's try another one.

In [11]:
i = [1,2,3,4,5,6]
for j = 1:length(i)
    if i > 2:
        print('yes')
    else:
        print('no')

SyntaxError: invalid syntax (300271012.py, line 2)

See, obviously Matlab syntax doesn't work here. Apparently it should be "for j in i:"

In [17]:
i = (1,2,3,4)
for j in i:
    if j > 2:
        print('yes')
    else:
        print('no')

no
no
yes
yes

In [18]:
i = [1,2,3,4]
for j in i:
    if j > 2:
        print('yes')
    else:
        print('no')

no
no
yes
yes

Apparently, numbers can be grouped either with curved or square brackets. Note the use of ":" after the for statement. Let's get back to the tutorial from the video:

In [19]:
7 % 4

3

In [20]:
mod(7)

NameError: name 'mod' is not defined

In [21]:
23 % 2

1

In [22]:
24 % 2

0

The "%" symbol takes the place of the mod() command in MATLAB. It can be used to return the remainder after a division of two numbers.

In [27]:
#Mod can be used to check evenness or oddness
i = 24
if i % 2 == 1:
    print('the result is ODD')
else:
    print('the result is EVEN')

the result is EVEN

In [28]:
#Mod can be used to check evenness or oddness
i = 23
if i % 2 == 1:
    print('the result is ODD')
else:
    print('the result is EVEN')

the result is ODD

In [29]:
#Powers
2^8

10

In [30]:
#Powers
2**4

16

The carat "^" is a bitwise XOR (exclusive OR).

It results to true if one (and only one) if the operands (evaluates to) true.

To demonstrate:

In [31]:
1^2

3

In [32]:
9^1

8

In [33]:
10^2

8

In [34]:
100^99

7

In [35]:
100^100

0

#Think about it this way:

1000  # 8 (binary)
0011  # 3 (binary)
----  # APPLY XOR ('vertically')
1011  # result = 11 (binary)

Hmm... I'll stay away from the "^" for awhile. To raise one number to a power, use "**".

In [38]:
(2+10)*10+(1+2)

123

# Variable Names:
    #Rules:
        #Var names should be lowercase
        #Avoid keywords in the software, e.g., "list", and "str"
    #IDE's highlight keywords in a different color

In [41]:
#Dynamic typing
my_dogs = 2
my_dogs = ["sammy","frankee"]

#this variable my_dogs can be assigned to multiple data types in a script (this is like MATLAB too). 
#In C++, integers are specified by 'int'. In a C++ code, the overlap of data types would result in an error.

The type() command:

In [42]:
a = 5
type(a)

int

In [43]:
a = "frankee"
type(a)

str

In [44]:
a = 5

In [45]:
a

5

In [46]:
a + a

10

In [47]:
a = a+a

In [48]:
a

10

In [49]:
a = a+a

In [50]:
a

20

NB: variables can be recursively added to themselves (this behavior is also like MATLAB)

Now, onto Strings:

Strings are sequences of characters with either single or double quotes

Strings are ordered sequences, so we can use indexing and slicing to grad sub-sections of the string. Indexing notation uses [] after the string.

Note, Python uses index 0 for the first index [0 1 2 3 4]. You can also use reverse indexing [0 -4 -3 -2 -1] from the end of the string

'Slicing' also allows you to grab a subsection of multiple characters, a "slice" of ther string, with the syntax: [start:stop:step]. 

Start: numerical index of the slice
Stop: index you go up to but NOT INCLUDE
Step: size of the step between Start and Stop.

In [1]:
'hello' "world"

'helloworld'

In [2]:
'hello' + 'world'

'helloworld'

In [3]:
"hello world"

'hello world'

The "len" function allows you to check the length of a string

In [1]:
#eg
string = 'this is a string'
len(string)

16

Note that len counts whitespace

In [2]:
#a couple more string concatenation test cases
string = ['abc' 'def']

In [3]:
string

['abcdef']

In [4]:
len(string)

1

In [5]:
string = ('abc' 'def')

In [6]:
string

'abcdef'

In [7]:
string = {'abc' 'def'}

In [8]:
string

{'abcdef'}

Now moving onto string slicing and indexing!

In [9]:
string = "hello world!"

In [11]:
#find index 0 of string
string[0]

'h'

In [17]:
string[-12]

'h'

Slicing:

In [19]:
string[1:11]

'ello world'

In [21]:
string[3:]

'lo world!'

In [22]:
string[:3]

'hel'

Slice notation is NON-INCLUSIVE!

In [27]:
string[::2]

'hlowrd'

In the above example, the first two colons mean start and stop indices, and the last number "2" is the step size. This is different to MATLAB which is start:step:stop. Python is start:stop:step

In [28]:
string[::-1]

'!dlrow olleh'

Strings can be reversed by adding the "-1" to the step size in the example above.

In [32]:
string = "Hello World"
string[-3]

'r'

Immutability of strings

In [33]:
name = "Sam"
name[0] = 'P'

TypeError: 'str' object does not support item assignment

E.g., we cannot change characters in strings using indexes

In [35]:
#Instead, use concatenation
name2 = 'P' + name[1:]

In [36]:
name2

'Pam'

In [37]:
letter = 'z'
letter*10

'zzzzzzzzzz'

In [38]:
str(2+3)

'5'

To quickly modify strings, type a "." after the string name and then press TAB. Options to transform the string are populated.

In [39]:
#eg 
string = "hello world"
string.upper()

'HELLO WORLD'

In [45]:
string.index('r')

8

Ok, now moving onto Print Formatting with Strings

In [46]:
#Formatting with ".format"
string1 = 'variableName_{}_{}'
string1.format('2','3')

'variableName_2_3'

So, using the curly brackets {} in a string can add (or "interpolate") strings with variables from the code. This behavior is a lot like the fprintf command in MATLAB.

In [47]:
print('The {} {} {}'.format('fox','quick','brown'))

The fox quick brown

In [51]:
#you can edit the positioning of the format strings using numbers in the curly brackets, e.g., 
#Remember, 0 is the first index!
print('The {1} {2} {0}'.format('fox','quick','brown'))

The quick brown fox

In [54]:
#Strings can also be added by assigning variable names, e.g.,
print('The {q} {b} {f}'.format(f = 'fox',b = 'brown',q = 'quick'))

The quick brown fox

In [65]:
#For floating point numbers, we can change the precision in printing.
#Floating point numbers follow "{value:width:precision f}"
#Width describes how long you want the printed value to be. Precision is the amount of sig. figs. to print. 
result1 = 1/333
print(result1)

print('The result was {r:1.3f}'.format(r=result1))

0.003003003003003003
The result was 0.003

Now formatting with "f-strings"

In [66]:
name = "Jose"

In [67]:
print('Hello, his name is {}'.format(name))

Hello, his name is Jose

In [68]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

So this behavior, where you add an "f" in front of the string and then the variable name in the brackets, is like fprintf in MATLAB.

In [70]:
#trying out the quick brown fox again...
f = 'fox'
b = 'brown'
q = 'quick'
print(f'The {q} {b} {f}')

The quick brown fox

Remember, so you don't forget, a first go at a Python script might be to auto populate test cases for publication. The code will have to read in a text file containing the various model settings, and then auto change the needed variables, and save out the files into a directory.

Now moving onto LISTS in python

In [2]:
my_list = [1,2,3]

In [3]:
my_list = ['string',3,2.33]

python lists are data type flexible

In [4]:
len(my_list)

3

In [5]:
my_list = [1,'two','three']

In [7]:
my_list[0]

1

In [8]:
my_list[1]

'two'

In [9]:
my_list[1:]

['two', 'three']

In [10]:
my_list2 = ['four','five']

In [11]:
my_list + my_list2

[1, 'two', 'three', 'four', 'five']

In [12]:
another_list = my_list+my_list2

In [15]:
another_list[1] = 'TWO'

In [16]:
another_list

[1, 'TWO', 'three', 'four', 'five']

In [17]:
another_list.append('six')

In [18]:
another_list

[1, 'TWO', 'three', 'four', 'five', 'six']

.append allows you to "append" items to the end of a list!

In [19]:
print(another_list.append('seven'))

None

In [20]:
print(another_list)

[1, 'TWO', 'three', 'four', 'five', 'six', 'seven']

Hmm... it looks like you can't add commands into the same line, but it seems that the append command (add 'seven') to the list [19] was completed even though the reply from the command window was 'none'

In [21]:
#now let's remove items from a list
another_list.pop()
print(another_list)

[1, 'TWO', 'three', 'four', 'five', 'six']

In [22]:
popped = another_list.pop()

In [23]:
popped

'six'

In [24]:
another_list

[1, 'TWO', 'three', 'four', 'five']

In [26]:
#now remove an item from a specific index
another_list.pop(0)

1

In [27]:
another_list

['three', 'four', 'five']

In [28]:
#sorts and reverse
newlist = ['a','c','b','e','d']
numlist = [1,3,4,5,9,8]

In [29]:
newlist.sort()

In [30]:
newlist

['a', 'b', 'c', 'd', 'e']

In [31]:
#you can't assign a sorted list to a new variable
sortedlist = newlist.sort()

In [32]:
type(sortedlist)

NoneType

In [34]:
#instead
newlist.sort()
sortedList = newlist
print(sortedList)

['a', 'b', 'c', 'd', 'e']

Ah, so this is what happened in line [19] above. When I called the .append command, python didn't return anything, so I wasn't able to "print" the result. Instead, I'd have to write two lines (append and then print).

In [35]:
#e.g., 
numlist.sort()
print(numlist)

[1, 3, 4, 5, 8, 9]

In [36]:
numlist.reverse()
print(numlist)

[9, 8, 5, 4, 3, 1]

In [38]:
#I think you can also do...
numlist[::-1]

[1, 3, 4, 5, 8, 9]

Note that the numlist is back into increasing order because we reversed it in [36]

Now we are moving onto DICTIONARIES

Dictionaries are UNORDERED mappings for storing objects. Lists store objects in an ordered sequence, but dictionaries use key-value pairing instead. This key-value pair allows users to quickly grab objects without needing to know the index location (dang that sounds useful).

Dictionaries use curly braces '{}' and colons to signify the keys and their associated values.

When to use a list vs dictionary?
LISTS can be sorted, indexed, and sliced. 
DICTIONARIES cannot be sorted

In [39]:
mydict = {'var1':1,'var2':3}

In [40]:
mydict

{'var1': 1, 'var2': 3}

In [43]:
mydict['var1']

1

In [44]:
priceLookup={'apple':2.99,'oranges':1.99,'chocolate':4.99}

In [45]:
priceLookup['apple']

2.99

In [46]:
#Dictionaries can also hold lists or other dictionaries!
d = {'k1':123,'k2':[1,2,3,4],'k3':{'inside':100}}

In [47]:
d['k2']

[1, 2, 3, 4]

In [49]:
d['k3']['inside']

100

In [50]:
d['k2'][0]

1

In [51]:
d = {'key1':['a','b','c']}

In [52]:
d['key1'][1]

'b'

In [53]:
#or with variable assignment
letter = d['key1'][2]

In [54]:
print(letter)

c

In [55]:
letter.upper()

'C'

In [56]:
#python is command-flexible so this can all be done in one line:
print(d['key1'][2].upper())

C

Ok, I get it. A 'dictionary' is like a structure in MATLAB. A structure holds variable names with assigned values (LISTS), and each value has an ordered location inside it (an index). I wrote  a little script to load in a csv and display the data (check out the Python folder under Scripts).

In [57]:
d = {'k1':100,'k2':200,'k3':300}

In [59]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [60]:
d.values()

dict_values([100, 200, 300])

In [61]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

Now we're going to learn about TUPLES

Tuples are similar to lists. However, their key difference is that they cannot be changed (they are immutable). Once an element is inside a tuple, they cannot be reassigned. Tuples are designated by curved brackets ().

In [62]:
t=(1,2,3,4)

In [63]:
mylist = [1,2,3,4]

In [64]:
type(t)

tuple

In [65]:
type(mylist)

list

In [68]:
len(t)

4

In [69]:
t[0]

1

In [70]:
t[-1]

4

In [71]:
t=('a','a','b')

In [72]:
t.count('a')

2

In [73]:
t.index('b')

2

Note that the .index works like "find" in MATLAB. However, it only returns the first index.

In [74]:
t

('a', 'a', 'b')

In [75]:
mylist

[1, 2, 3, 4]

In [76]:
mylist[0]='new'

In [77]:
mylist

['new', 2, 3, 4]

In [78]:
t[0]='new'

TypeError: 'tuple' object does not support item assignment

So the main difference between tuples and lists is immutability. Tuples are useful data types if you don't want variables to get reassigned as your code runs.

Now we're moving on to SETS. Sets are unordered collections of UNIQUE elements.

In [79]:
myset=set()

In [80]:
myset.add(1)

In [81]:
myset

{1}

In [82]:
type(myset)

set

In [83]:
myset.add(2)

In [84]:
myset

{1, 2}

In [85]:
myset.add(2)

In [86]:
myset

{1, 2}

In [87]:
#let's try something...
data=[1,2,3,4,5,5,5,6,7,8,10,10]
myset=set(data)
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [88]:
unique(data)

NameError: name 'unique' is not defined

Ah ok, so "unique" isn't a command in python. Looks like the way to do "unique" in python is to make a list a set!

In [89]:
myset[1]

TypeError: 'set' object is not subscriptable

Annoyingly, sets can't be indexed. Apparently they will be useful later in the course.

Now we will discuss BOOLEANS

In [90]:
True

True

In [91]:
true

NameError: name 'true' is not defined

In [92]:
type(False)

bool

In [93]:
1 > 2

False

In [94]:
b = None

In [95]:
b

In [96]:
type(b)

NoneType

Now we will discuss I/O with basic files in Python.

In [103]:
%%writefile myfile.txt
this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [104]:
myfile = open('myfile.txt')

In [107]:
pwd

'/mnt/c/Users/bknorris/Documents/Scripts/Python/Python_bootcamp/Course-Notes'

In [108]:
ls

Section3_PythonObject_and_DataStructrue_Basics.ipynb*  myfile.txt*
my_first_notebook.ipynb*

In [110]:
myfile.read()

'this is a text file\nthis is the second line\nthis is the third line\n'

In [111]:
myfile.seek(0) #returns read to initial state

0

In [112]:
myfile.read()

'this is a text file\nthis is the second line\nthis is the third line\n'

In [113]:
myfile.seek(0)
myfile.readlines()

['this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [114]:
myfile.close()

You need to close files after opening them

In [117]:
with open('myfile.txt') as mynewfile:
    contents = mynewfile.read()

In [120]:
#This series of commands eliminates the need for opening and closing the text file. 
#It simply writes the contents of myfile.txt into the variable "contents"
contents

'this is a text file\nthis is the second line\nthis is the third line\n'

Now we'll talk about writing to files

In [122]:
with open('myfile.txt',mode='r') as myfile:
    contents = myfile.read()

mode "r" is reading file. "w" is writing files, and "a" is appending to files. "r+" is reading and writing, and "w+" is writing and reading

In [124]:
%%writefile mynewfile.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing mynewfile.txt

In [125]:
with open('mynewfile.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [129]:
with open('mynewfile.txt',mode='a') as f:
    f.write('\nFOUR ON FOURTH')

In [130]:
with open('mynewfile.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH
FOUR ON FOURTH

In [131]:
with open('dfghdgf.txt',mode='w') as f:
    f.write('I CREATED THIS FILE!')

In [132]:
ls

Section3_PythonObject_and_DataStructrue_Basics.ipynb*  myfile.txt*
dfghdgf.txt*                                           mynewfile.txt*
my_first_notebook.ipynb*

In [133]:
with open('dfghdgf.txt',mode='r') as f:
    print(f.read())

I CREATED THIS FILE!