In [1]:
2+1

3

In [10]:
i = 2
if i > 2:
    print('yes it is')
else :
    print('no it is not')

no it is not

I'm getting ahead of the course here but I just tried to write a simple if/then statement. It seems that python requires a colon ":" after if/else statements. These statements do not need to be closed with an end statement. Let's try another one.

In [11]:
i = [1,2,3,4,5,6]
for j = 1:length(i)
    if i > 2:
        print('yes')
    else:
        print('no')

SyntaxError: invalid syntax (300271012.py, line 2)

See, obviously Matlab syntax doesn't work here. Apparently it should be "for j in i:"

In [17]:
i = (1,2,3,4)
for j in i:
    if j > 2:
        print('yes')
    else:
        print('no')

no
no
yes
yes

In [18]:
i = [1,2,3,4]
for j in i:
    if j > 2:
        print('yes')
    else:
        print('no')

no
no
yes
yes

Apparently, numbers can be grouped either with curved or square brackets. Note the use of ":" after the for statement. Let's get back to the tutorial from the video:

In [19]:
7 % 4

3

In [20]:
mod(7)

NameError: name 'mod' is not defined

In [21]:
23 % 2

1

In [22]:
24 % 2

0

The "%" symbol takes the place of the mod() command in MATLAB. It can be used to return the remainder after a division of two numbers.

In [27]:
#Mod can be used to check evenness or oddness
i = 24
if i % 2 == 1:
    print('the result is ODD')
else:
    print('the result is EVEN')

the result is EVEN

In [28]:
#Mod can be used to check evenness or oddness
i = 23
if i % 2 == 1:
    print('the result is ODD')
else:
    print('the result is EVEN')

the result is ODD

In [29]:
#Powers
2^8

10

In [30]:
#Powers
2**4

16

The carat "^" is a bitwise XOR (exclusive OR).

It results to true if one (and only one) if the operands (evaluates to) true.

To demonstrate:

In [31]:
1^2

3

In [32]:
9^1

8

In [33]:
10^2

8

In [34]:
100^99

7

In [35]:
100^100

0

#Think about it this way:

1000  # 8 (binary)
0011  # 3 (binary)
----  # APPLY XOR ('vertically')
1011  # result = 11 (binary)

Hmm... I'll stay away from the "^" for awhile. To raise one number to a power, use "**".

In [38]:
(2+10)*10+(1+2)

123

# Variable Names:
    #Rules:
        #Var names should be lowercase
        #Avoid keywords in the software, e.g., "list", and "str"
    #IDE's highlight keywords in a different color

In [41]:
#Dynamic typing
my_dogs = 2
my_dogs = ["sammy","frankee"]

#this variable my_dogs can be assigned to multiple data types in a script (this is like MATLAB too). 
#In C++, integers are specified by 'int'. In a C++ code, the overlap of data types would result in an error.

The type() command:

In [42]:
a = 5
type(a)

int

In [43]:
a = "frankee"
type(a)

str

In [44]:
a = 5

In [45]:
a

5

In [46]:
a + a

10

In [47]:
a = a+a

In [48]:
a

10

In [49]:
a = a+a

In [50]:
a

20

NB: variables can be recursively added to themselves (this behavior is also like MATLAB)

Now, onto Strings:

Strings are sequences of characters with either single or double quotes

Strings are ordered sequences, so we can use indexing and slicing to grad sub-sections of the string. Indexing notation uses [] after the string.

Note, Python uses index 0 for the first index [0 1 2 3 4]. You can also use reverse indexing [0 -4 -3 -2 -1] from the end of the string

'Slicing' also allows you to grab a subsection of multiple characters, a "slice" of ther string, with the syntax: [start:stop:step]. 

Start: numerical index of the slice
Stop: index you go up to but NOT INCLUDE
Step: size of the step between Start and Stop.

In [1]:
'hello' "world"

'helloworld'

In [2]:
'hello' + 'world'

'helloworld'

In [3]:
"hello world"

'hello world'

The "len" function allows you to check the length of a string

In [1]:
#eg
string = 'this is a string'
len(string)

16

Note that len counts whitespace

In [2]:
#a couple more string concatenation test cases
string = ['abc' 'def']

In [3]:
string

['abcdef']

In [4]:
len(string)

1

In [5]:
string = ('abc' 'def')

In [6]:
string

'abcdef'

In [7]:
string = {'abc' 'def'}

In [8]:
string

{'abcdef'}

Now moving onto string slicing and indexing!

In [9]:
string = "hello world!"

In [11]:
#find index 0 of string
string[0]

'h'

In [17]:
string[-12]

'h'

Slicing:

In [19]:
string[1:11]

'ello world'

In [21]:
string[3:]

'lo world!'

In [22]:
string[:3]

'hel'

Slice notation is NON-INCLUSIVE!

In [27]:
string[::2]

'hlowrd'

In the above example, the first two colons mean start and stop indices, and the last number "2" is the step size. This is different to MATLAB which is start:step:stop. Python is start:stop:step

In [28]:
string[::-1]

'!dlrow olleh'

Strings can be reversed by adding the "-1" to the step size in the example above.

In [32]:
string = "Hello World"
string[-3]

'r'

Immutability of strings

In [33]:
name = "Sam"
name[0] = 'P'

TypeError: 'str' object does not support item assignment

E.g., we cannot change characters in strings using indexes

In [35]:
#Instead, use concatenation
name2 = 'P' + name[1:]

In [36]:
name2

'Pam'

In [37]:
letter = 'z'
letter*10

'zzzzzzzzzz'

In [38]:
str(2+3)

'5'

To quickly modify strings, type a "." after the string name and then press TAB. Options to transform the string are populated.

In [39]:
#eg 
string = "hello world"
string.upper()

'HELLO WORLD'

In [45]:
string.index('r')

8

Ok, now moving onto Print Formatting with Strings

In [46]:
#Formatting with ".format"
string1 = 'variableName_{}_{}'
string1.format('2','3')

'variableName_2_3'

So, using the curly brackets {} in a string can add (or "interpolate") strings with variables from the code. This behavior is a lot like the fprintf command in MATLAB.

In [47]:
print('The {} {} {}'.format('fox','quick','brown'))

The fox quick brown

In [51]:
#you can edit the positioning of the format strings using numbers in the curly brackets, e.g., 
#Remember, 0 is the first index!
print('The {1} {2} {0}'.format('fox','quick','brown'))

The quick brown fox

In [54]:
#Strings can also be added by assigning variable names, e.g.,
print('The {q} {b} {f}'.format(f = 'fox',b = 'brown',q = 'quick'))

The quick brown fox

In [65]:
#For floating point numbers, we can change the precision in printing.
#Floating point numbers follow "{value:width:precision f}"
#Width describes how long you want the printed value to be. Precision is the amount of sig. figs. to print. 
result1 = 1/333
print(result1)

print('The result was {r:1.3f}'.format(r=result1))

0.003003003003003003
The result was 0.003